<div class="user-details">
  <mat-card class="user-details__card">
    <mat-card-header>
      <mat-card-title>Edit User</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="user-details__form" [formGroup]="form">
        @for (item of userControlsMap; track item.key) {
          <mat-form-field>
            <mat-label>{{ item.value }}</mat-label>

            <input
              [attr.required]="item.required"
              [formControlName]="item.key"
              matInput
            />

            <mat-error appControlError></mat-error>
          </mat-form-field>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>
z
