@use 'sass:map';
@use '@angular/material' as mat;

$header-heigth: 64px;

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    position: fixed;
    z-index: 10;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: $header-heigth;
    padding: 24px;
  }

  &__footer {
    display: flex;
    height: 100px;

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
